footer.footer
  .wrapper
    .content
      .description
        h6.h6 Landing
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque et laudantium natus eveniet impedit porro eius!
      .footer--col 
        span.subheader Services
        ul
          li #[a(href="#") service]
          li #[a(href="#") data]
          li #[a(href="#") page]
      .footer--col 
        span.subheader Furniture
        ul
          li #[a(href="#") Beds]
          li #[a(href="#") Chair]
          li #[a(href="#") All]
      .footer--col.footer--col__social
        span.subheader Follow Us
        ul.social
          li
            a(href="#")  
              span.icon
                i.fa-brands.fa-facebook-f
              span Facebook
          li
            a(href="#")  
              span.icon
                i.fa-brands.fa-twitter
              span Twitter
          li
            a(href="#") 
              span.icon
                i.fa-brands.fa-instagram 
              span Instagram
  .wrapper
    .copy
      div.copy--col
        i Copyright © 2022
      div.copy--col 
        i Terms & Conditions 
        i Privacy Policy