footer
  section 
    div 
      strong Panto
      p The advantage of hiring a workspace with us is that givees you comfortable service and all-around facilities.
    div 
      span Services
      ul
        li service 1
        li service 2
        li service 3
    div 
      span Furniture
      ul
        li Beds
        li Chair
        li All
    div 
      span Follow Us
      ul
        li Facebook
        li Twitter
        li Instagram
  section 
    div
      i Copyright © 2021
    div 
      em Terms & Conditions 
      em Privacy Policy