header
  nav
    h1 Panto 
    ul 
        li Furniture
        li Shop 
        li About 
        li Contact 
    section
      h2 Make Your Interior More Minimalistic & Modern
      h3 Turn your room with panto into a lot more minimalist and modern with ease and speed
      div
          form 
          input(type="text", name="" placeholder="Search furniture")
          button(type="submit") 