section.section-d
  .section-d__wrapper
    div
      span Materials
      strong Very serious materials for making furniture
      p Because panto was very serious about designing furniture for our environment, using a very expensive and famous capital but at a relatively low price
      a(href="#") More info
        i.fa-sharp.fa-solid.fa-arrow-right-long
    div 
      span.wrap-img
        img(src="images/b1.png", alt="side chair 1")
      span.wrap-img
        img(src="images/b2.png", alt="side chair 2")
      span.wrap-img
        img(src="images/b3.png", alt="side chair 3")