section.section-d
  .section-d__wrapper
    .content
      span.span-text Materials
      h6.h6 Very serious materials for making furniture
      p.text Because panto was very serious about designing furniture for our environment, using a very expensive and famous capital but at a relatively low price
      a(href="").btn-info More Info
    .cols-img
      .col-img-1
        .wrap-img
          img(src="images/b1.png", alt="side chair 1").main
          img(src="images/b1.png", alt="side chair 1").blur
        .wrap-img
          img(src="images/b2.png", alt="side chair 2").main
          img(src="images/b2.png", alt="side chair 2").blur
      .col-img-2
        .wrap-img
          img(src="images/b3.png", alt="side chair 3").main
          img(src="images/b3.png", alt="side chair 3").blur