section.section-a.wrapper
  h4.title Why Choosing Us
  .section-a__content
    div.section-a__item
      span.section-a__item--title Some Title 
      p.section-a__item--description Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio itaque inventore incidunt.
      a(href="").btn-info More Info 

    div.section-a__item
      span.section-a__item--title Some Title 
      p.section-a__item--description Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio itaque inventore incidunt.
      a(href="").btn-info More Info

    div.section-a__item
      span.section-a__item--title Some Title 
      p.section-a__item--description Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio itaque inventore incidunt.
      a(href="").btn-info More Info