section.section-c
  .section-c__wrapper
    .img-left
      img(src="./images/img-1.png", alt="side").main
      img(src="./images/img-1.png", alt="side").mirror
      img(src="./images/img-1.png", alt="side").blur
    .content
        span.span-text experiences
        h6.h6 we provide you the best experience
        p.text You don’t have to worry about the result because all of these interiors are made by people who are professionals in their fields with an elegant and lucurious style and with premium quality materials
        a(href="").btn-info More Info