- var menu = ["Beds","Sofa","Lamp"]
- var prods = ["Sakarias Armchair", "Baltsar Chair", "Baltsar Chair", "Nyantuy Chair",]  
- var n = (v) => Math.round((400 + v)*Math.random() + 120);

section.section-b
  .wrapper
    h2.title Best Selling Product
    nav.section-b__header
      ul
          li #[button.section-b__header--item.active Chair] 
          each item in menu
            li #[button.section-b__header--item= item] 
    .section-b__wrapp
      each prod, index in prods
        div.section-b__product
          .img-rs
            img(src="./images/a"+(index+1)+".png", alt="seller1")
          .content
            em Chair
            p=prod
            .stars
              - for (var x = 0; x < 5; x++)
                i.fa-solid.fa-star
            .section-b__sub--footer
              .price 
                span $
                strong #{n(index + 1)}
              button.btn-add
                i.fa-solid.fa-circle-plus
    .section-b__footer
      a(href="#").btn-info View All