section
  h4 Why Choosing Us 
  div
    strong Some Title 
    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio itaque inventore incidunt.
    a(href="") More Info 
      i.fa-sharp.fa-solid.fa-arrow-right-long
  div
    strong Some Title 
    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio itaque inventore incidunt.
    a(href="") More Info
      i.fa-sharp.fa-solid.fa-arrow-right-long
  div
    strong Some Title 
    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio itaque inventore incidunt.
    a(href="") More Info
      i.fa-sharp.fa-solid.fa-arrow-right-long