*, *::after, *::before {
    box-sizing: border-box;
}

html, body {
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
}

.card{
    background-repeat: no-repeat;
    width: 33%;
}

.reviews{
    display: flex;
    justify-content: space-between;
}


.section-b {
    &__header {
        display: flex;
        justify-content: center;
        ul,li{
            list-style: none;
        }
    }
    &__wrapp {
        justify-content: space-between;
        display: flex;
    }

    &__product{
        width: 25%;
    }
}

.section-c {
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.section-d {
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.section-e{
    .reviews{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .card{
        min-height: 500px;
    }
}

.footer {
    background-color: #F7F7F7;
}


.wrapper {
    max-width: 1280px;
    width: 100%;
    display: block;
    margin: 0 auto;
}


.btn-info{
    color: #E58411;
    text-decoration: none;
    font-size: 14px;
    min-width: 120px;
    position: relative;
    display: inline-block;
    line-height: 1.2;
    
    &::after, &::before{
        content: '';
        position: absolute;
        transition: all 300ms ease;
    }

    &::after{
        background-color: #E58411;
        height: 1px;
        top: 7.5px;
        right: 0.5px;
        width: 28px;
    }

    &::before {
        border-style: solid;
        border-width: 1px 1px 0 0;
        height:7px;
        width: 7px;
        transform: rotate(45deg);
        right: 0;
        top: 5px;
    }
    
}

.btn-info:hover{
    &::after{
        transform: translateX(4px);
    }

    &::before {
        transform: translateX(4px) rotate(45deg);
    }
    
}