.footer{
  background-color: #F7F7F7;
  padding: 118px 0 56px;
  
  .content{
     display: flex;
     justify-content: space-between;
  }
  .description {
    max-width: 292px;
    p{
      font-size: 14px;
      font-weight: 300;
      line-height: 1.6;
    }
  }

 
  .h6 {
     font-size: 26px;
     margin-bottom: 24px;
  }

  .subheader{
    color: #F6973F;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 16px;
    display: inline-block;
  }
  

  &--col {
    font-size: 14px;
    font-weight: 300;
    
    li {
      line-height: 1.2;
      font-size: 14px;
      font-weight: 300;
      text-transform: capitalize;
      margin-bottom: 24px;
      .icon {
        margin-right: 10px;
        width: 20px;
        text-align: center;
        display: inline-block;
        color: #1E2833;
        font-size: 16px;
        vertical-align: middle;
      }
    }

    a{
      font-weight: 400;
      text-decoration: none;
      color: #1E1E1E;
    }
  }

  .social{
    li {
      line-height: 1;
    }
  }

  .copy {
    margin-top: 118px;
    display: flex;
    justify-content: space-between;
    &--col{
      &:first-child {
        font-size: 14px;
        color: #1E2833;
        font-weight: 200;
        opacity: 0.5;
      }
      &:last-child {
        font-size: 14px;
        color: #1E1E1E;
        opacity: 0.8;
        i{
          margin-left: 28px;
        }
      }
    }
  }

}