.section-e{
    padding: 120px 0 80px;
    .content{
        text-align: center; 
        .span-text{
            margin-bottom: 18px;
        }
        .h6{
            margin-bottom: 60px;
        }
    }
    
    .reviews{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-column-gap: 38px;
    }

    .card {
        position: relative;
        display: flex;
        align-items: flex-end;
        padding: 18px;
        background-size: cover;
        min-height: 500px;
        width: 100%;
        border-radius: 20px;
        &__body{
            width: 100%;
            background-color: #fff;
            border-radius: 20px;
            padding: 20px;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            position: relative;
            box-shadow: 0 1px 3px 0px rgba(51,51,51,0.2);
        }
        .blur-bg{
            position: absolute;
            z-index: 2;
            left: -5px;
            right: -5px;
            top: 5px;
            border-radius: 20px;
            filter: blur(10px);
            bottom: -5px;
            width: calc(100% + 10px);
            height: calc(100% + 5px);
            opacity: 0.6;
            background-size: cover;
            z-index: -1;
        }
    }

    .profile-img{
        position: relative;
        margin-top: -53px;
        width: 66px;
        height: 66px;
        background-color: #fff;
        padding: 8px;
        border-radius: 50%;
        img {
            top: 8px;
            position: absolute;
        }
        .main{
            width: 50px;
            height: 50px;
            z-index: 1;
        }
        .blur{
            filter: blur(3px);
            opacity: 0.5;
            z-index: 0;
            width: 55px;
            height: 55px;
            top: 7px;
            left: 7px;
        }
    }

    .name{
        display: inline-block;
        width: 100%;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 12px;
    }
    .info {
        color: #1E1E1E;
        font-weight: 400;
        text-transform: capitalize;
        font-size: 12px;
        line-height: 1.1;
        display: inline-block;
        margin-bottom: 32px;
        opacity: 0.6;
    }
    
    .description{
        text-align: center;
        p{
            font-size: 14px;
            line-height: 1.1;
            color: #1E1E1E;
            opacity: 0.8;
            display: inline-block;
            margin-bottom: 40px;
        }
    }

    .stars{
        color: #F6973F;
        font-size: 12px;
        .disabled{
            opacity: 0.4;
        }
    }
   
}