doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title= pageTitle

    link(rel="stylesheet", href="css/main.css")
  body
    header
      nav
        h1 Panto 
        ul 
          li Furniture
          li Shop 
          li About 
          li Contact 
      section
        h2 Make Your Interior More Minimalistic & Modern
        h3 Turn your room with panto into a lot more minimalist and modern with ease and speed
        div
          form 
            input(type="text", name="" placeholder="Search furniture")
            button(type="submit") 

    main
      section
        h4 Why Choosing Us 
        div
          strong Some Title 
          p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio itaque inventore incidunt.
          a(href="") More Info
        div
          strong Some Title 
          p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio itaque inventore incidunt.
          a(href="") More Info
        div
          strong Some Title 
          p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio itaque inventore incidunt.
          a(href="") More Info
      section 
        h2 Best Selling Product
        nav 
          ul 
            li menu
            li menu
            li menu
            li menu
        div 
          div
            img(src="./images/a1.png", alt="seller1")
            span Chair
            strong Title 1
            .stars
              span.star 
              span.star 
              span.star 
              span.star 
              span.star 
            .price 
              span $ 350
            button.add
          div
            img(src="./images/a2.png", alt="seller2")
            span Chair
            strong Title 2
            .stars
              span.star 
              span.star 
              span.star 
              span.star 
              span.star 
            .price 
              span $ 350
            button.add
          div
            img(src="./images/a3.png", alt="seller3")
            span Chair
            strong Title 3
            .stars
              span.star 
              span.star 
              span.star 
              span.star 
              span.star 
            .price 
              span $ 350
            button.add
          div
            img(src="./images/a4.png", alt="seller4")
            span Chair
            strong Title 4
            .stars
              span.star 
              span.star 
              span.star 
              span.star 
              span.star 
            .price 
              span $ 350
            button.add
        button Show All