doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Landing A
    link(rel="stylesheet", href="css/main.css")
  body
    include sections/_header.pug
    main
      include sections/_section-a.pug
      include sections/_section-b.pug
      include sections/_section-c.pug
      include sections/_section-d.pug
      include sections/_section-e.pug
      include sections/_footer.pug
