doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Landing A
    link(rel="stylesheet", href="css/main.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css")
    link(href="fa/css/all.css" rel="stylesheet")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link( href="https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@200;400;600&display=swap" rel="stylesheet")
  body
    include sections/_header.pug
    main
      include sections/_section-a.pug
      include sections/_section-b.pug
      include sections/_section-c.pug
      include sections/_section-d.pug
      include sections/_section-e.pug
      include sections/_footer.pug
    span(style="font-size: 3em; color: Tomato;")
      i.fa-solid.fa-arrow-right
      i.fa-solid.fa-arrow-left